[Desktop Entry]
X-SnapInstanceName=discord
Name=Discord
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/discord_discord.desktop /snap/bin/discord --start-minimized
Icon=/snap/discord/209/meta/gui/icon.png
Type=Application
Categories=Network;InstantMessaging;
